---
# The scss file which include files from _sass/
---

@charset "utf-8";

@import "basscss";
@import "main";
// @import "solarized-dark";

.headshot {
    margin-bottom: 1em;
    .attribution {
        font-size: .5em;
        font-style: italic;
    }
}
@media screen and (min-width: 37em) {
    .headshot {
        max-width: 360px;
        float: right;
        margin-left: 2em;
    }
}


// http://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    margin-bottom: 1rem;
    .youtube-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
