---
# The scss file which include files from _sass/
---

@charset "utf-8";

@import "basscss";
@import "main";
@import "tomorrow"; // Color Scheme

h1, h2, h3, h4 {
    word-wrap:break-word;
}

pre {
    border: 1px solid #ddc;
    box-shadow: 1px 1px 6px #ccc;
    font-size: 0.75em;
    font-size: .9rem;
    line-height: 1.5em;
    margin: 1em 0 1.5em;
    padding: 0.5em 1em;
}


p code {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: 0.2em 0.2em;
    color: #333;
    font-family: Menlo, Monaco, "Courier New", monospace;
}


.headshot {
    margin-bottom: 1em;
    .attribution {
        font-size: .5em;
        font-style: italic;
    }
}
@media screen and (min-width: 37em) {
    .headshot {
        max-width: 360px;
        float: right;
        margin-left: 2em;
    }
}


// http://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    margin-bottom: 1rem;
    .youtube-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
