<div id='gh-comments-list'></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script>
var url = "https://github.com/captbaritone/jordaneldredge.com/issues/{{ page.github_comments_issue_id }}";
var api_url =
  "https://api.github.com/repos/captbaritone/jordaneldredge.com/issues/{{ page.github_comments_issue_id }}/comments";
var $commentList = $("#gh-comments-list")
  $.ajax(api_url, {
    headers: { Accept: "application/vnd.github.v3.html+json" },
    dataType: "json",
    success: function(comments) {
      $commentList.append("<h2 class='gh-comments-title'>Comments</h1>");
      $commentList.append("<a class='gh-comments-button' href='" + url + "' target='_blank'>Post a comment on GitHub</a>");
      comments.forEach(function(comment, i) {
        var date = new Date(comment.created_at);

        var t = "<div class='gh-comment'>";
        t += "<img src='" + comment.user.avatar_url + "' class='gh-comment-profile-pic'>";
        t += "<div class='gh-comment-author'>";
        t += "<a href='" + comment.user.html_url + "'>" + comment.user.login + "</a>";
        t += " &bull; " + date.toUTCString() + "</div>";
        t += "<div class='gh-comment-body'>" + comment.body_html + "</div>";
        if(i != comments.length - 1) {
            t += "<hr class='gh-comment-hr' />";
        }
        t += "</div>";
        $commentList.append(t);
      });
    },
    error: function() {
      //$commentList.append("Comments are not open for this post yet.");
    }
});
</script>