<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
{% if meta.robots %}
{% endif %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed" | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ "/css/pure-min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/navigataur.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/solarized_dark.css" | prepend: site.baseurl }}">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ "/javascripts/vendor/respond.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/javascripts/highlight.min.js" | prepend: site.baseurl }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
