<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}
    <body>
        <div id="container" class="pure-g-r">
            {% include header.html %}
            <div class="pure-u-1">
                <div id="content">
                    {{ content }}
                </div>
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>
