@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply break-normal break-words;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

/* http://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  margin-bottom: 1rem;
}
.video-container .youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.headshot {
  margin-bottom: 1em;
}

@media screen and (min-width: 37em) {
  .headshot {
    max-width: 360px;
    float: right;
    margin-left: 2em;
  }
}

/* purgecss start ignore */
/* Markdown Styles */
/* Global */
.markdown {
  @apply leading-relaxed text-sm;
}

@screen sm {
  .markdown {
    @apply text-base;
  }
}

@screen lg {
  .markdown {
    @apply text-lg;
  }
}

/* Headers */
.markdown h1,
.markdown h2 {
  @apply text-xl my-6 font-semibold;
}
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-lg my-3 font-semibold;
}

@screen sm {
  .markdown h1,
  .markdown h2 {
    @apply text-2xl;
  }
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    @apply text-xl;
  }
}

/* Links */
.markdown a {
  @apply text-blue-600;
}
.markdown a:hover {
  @apply underline;
}
/* Paragraph */
.markdown p {
  @apply mb-4;
}
/* Lists */
.markdown ul,
.markdown ol {
  @apply mb-4 ml-8;
}
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}
/* Blockquotes */
.markdown blockquote {
  @apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
}
.markdown blockquote > p {
  @apply mb-0;
}

.markdown hr {
  @apply py-2 text-center block border-t-2 border-gray-200 border-solid;
}
/* Tables */
.markdown td,
.markdown th {
  @apply px-2 py-1 border border-gray-400;
}
.markdown tr:nth-child(odd) {
  @apply bg-gray-100;
}
.markdown table {
  @apply mb-6;
}
.markdown pre.shiki {
}

.markdown pre.shiki {
  @apply text-xs;
  @apply mb-4;

  /* Give it some space to breathe */
  padding: 12px;

  /* All code samples get a grey border, twoslash ones get a different color */

  /* Important to allow the code to move horizontally; */
  overflow-x: auto;
  position: relative;
}

.markdown code.inline {
  @apply bg-gray-100;
  @apply px-1;
  @apply rounded;
  padding: 0.1em 0.2em;
  border: 1px solid #eaeaea;
}

@screen sm {
  .markdown pre.shiki {
    @apply rounded-md shadow text-sm;
  }
}

@screen lg {
  .markdown pre.shiki {
    @apply text-base;
  }
}

.markdown audio {
  margin-bottom: 1rem;
}

/* Wrap any inline highlights `that are really long`, but don't modify
     the setting for codeblocks (inside ```), which are rendered in as:
     <pre><code>...
  */
.markdown :not(pre) > code.language-text {
  white-space: pre-line;
}
/* purgecss end ignore */
